* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLE FROM HERE */

.header-section {
    background: url(../images/banner/banner3.png);
    width: 100%;
    height: 100vmin;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;

    /* color: #FFF;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat; */

}


.section-details {
    width: 40%;
    height: 50%;
    position: absolute;
    right: 100px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    text-align: right;
}

.section-title {
    color: #FFF;
    text-align: right;
    font-size: 85px;
    font-weight: 700;
    padding-right: 100px;
}

.section-description {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-right: 100px;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    background: #FFF;
    margin-right: 100px;
    margin-top: 30px;
}

/* PREVIOUS EXPERIENCE STYLE FROM HERE */

.experience-area {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    width: 1000px;
    margin-left: 350px;
}

.person-image {
    width: 650px;
    height: 890px;
}

.experience-details {
    padding: 250px 50px;
}

.experience-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;

}

.experience-description,
.experience-list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

/* PLANING STYLE IS FROM HERE */

#plan-title {
    text-align: center;
    font-size: 45px;
    color: #151414;
    margin-bottom: 40px;
}

.planing-section {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 100px;
}

.tool-icon {
    width: 80.958px;
    height: 80.958px;
}

.planing-tools {
    text-align: center;
    padding: 15px 15px;
}

.tool-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.desire {
    padding: 10px 0px;
    font-size: 25px;
    color: #737272;
}

/* MINDSET STYLE FROM  HERE */
.positive-mindset {
    width: 1140px;
    height: 300px;
    margin: 50px 300px;
    border-radius: 8px;
    /* background: url(../images/watch.png), linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%);
    background-size: cover;
    background-position: center; */
    border-radius: 8px;
    background: linear-gradient(-90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%);
    background-image: url(../images/watch.png);
}

.mindset-details {
    padding: 80px 50px;
}

.mindset-title {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

/* FOOTER STYLE IS FROM HERE */

footer {
    background-color: #151414;
    margin-top: 150px;
}

.footer-section {
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-evenly;
}

.left-footer,
.right-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    padding: 120px 200px;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footer-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    padding-top: 15px;
}

.email-info,
.phone {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}

#email {
    padding: 20px 35px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #151414;
    border: 1px solid whitesmoke;
}

::placeholder {
    font-size: 16px;
    font-weight: 400;
}

.icon {
    font-size: 30px;
    padding: 30px 0px;
    display: flex;
    gap: 25px;
}